{% extends 'base.html' %}
{% load static %}
{% block content %}

<!-- Page Header Section Start Here -->
<section class="page-header bg_img padding-tb">
	<div class="overlay"></div>
	<div class="container">
		<div class="page-header-content-area">
			<h4 class="ph-title">Contact us</h4>
			<ul class="lab-ul">
				<li><a href="/">Home</a></li>
				<li><a class="active">Contact us</a></li>
			</ul>
		</div>
	</div>
</section>
<!-- Page Header Section Ending Here -->
<!-- Contact Us Section Start Here -->
<!-- Contact Us Raghav Start Here -->
<div class="contact-section padding-tb">
	<div class="container">
		<div class="contac-top">
			<div class="section-header">
				<h2>Raghav Group of Farms</h2>
			</div>
			<div class="row justify-content-center">
				<div class="col-xl-4 col-lg-6 col-12">
					<div class="contact-item">
						<div class="contact-icon">
							<i class="icofont-google-map"></i>
						</div>
						<div class="contact-details">
							<span>122/715, Second Floor,
							</span>
						<span class="d-block text-bold">Shastri Nagar, Kanpur-208005</span>
						</div>
					</div>
				</div>
				<div class="col-xl-4 col-lg-6 col-12">
					<div class="contact-item">
						<div class="contact-icon">
							<i class="icofont-phone"></i>
						</div>
						<div class="contact-details">
							<a href="tel:+91-8081432189">+91-8081432189</a>
						</div>
					</div>
				</div>
				<div class="col-xl-4 col-lg-6 col-12">
					<div class="contact-item">
						<div class="contact-icon">
							<i class="icofont-envelope"></i>
						</div>
						<div class="contact-details">
							<p><a href="mailto:info@raghavfarms.com">info@raghavfarms.com</a></p>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="contac-bottom">
			<div class="row justify-content-center">
				<div class="col-lg-6 col-12">
					<div class="location-map">
						<div id="map">
							<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3571.503993927175!2d80.29854887515415!3d26.471712778903726!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x399c39903aeea97f%3A0x40e94a572cf1e6db!2sRaghav%20Consultant!5e0!3m2!1sen!2sin!4v1692785804630!5m2!1sen!2sin" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
						</div>
					</div>
				</div>
				{% if username %}
				
				<center>
					<h2>Thanks {{ username }}! </h2>
					<p>We received your email and will response shortly.</p>
				</center>
				<br><br>
				{% else %}
				
				<div class="col-lg-6 col-12">
					<div class="contact-form">
						<form action="{% url 'contact' %}" method="POST" class="comment-form" >
							{% csrf_token %}
							<input type="text" name="name" class="" placeholder="Name*">
							<input type="email" name="email" class="" placeholder="Email*">
							<input type="text" name="subject" class="" placeholder="Subject*">
							<textarea name="message" cols="30" rows="9" placeholder="Message*"></textarea>
							<button type="submit" name="submit-form" class="lab-btn">
								<span>Submit Now</span>
							</button>
						</form>
					</div>
				</div>
				{% endif %}
			</div>
		</div>
		
	</div>
</div>
<!-- Contact Us Raghav End Here -->

<!-- Contact Us Sanjana Organics Start Here -->
<div class="contact-section padding-tb bg-ash" >
	<div class="container" >
		<div class="contac-top">
			<div class="section-header">
				<h2>Sanjana Organics</h2>
			</div>
			<div class="row justify-content-center">
				<div class="col-xl-4 col-lg-6 col-12">
					<div class="contact-item">
						<div class="contact-icon">
							<i class="icofont-google-map"></i>
						</div>
						<div class="contact-details">
							<span>122/715, Second Floor
							</span>
						<span class="d-block text-bold">Shastri Nagar, Kanpur-208005</span>
						</div>
					</div>
				</div>
				<div class="col-xl-4 col-lg-6 col-12">
					<div class="contact-item">
						<div class="contact-icon">
							<i class="icofont-phone"></i>
						</div>
						<div class="contact-details">
							<a href="tel:+91-9335663985">+91-9335663985</a>
						</div>
					</div>
				</div>
				<div class="col-xl-4 col-lg-6 col-12">
					<div class="contact-item">
						<div class="contact-icon">
							<i class="icofont-envelope"></i>
						</div>
						<div class="contact-details">
							<p><a href="mailto:info@sanjanaorganics.com">info@sanjanaorganics.com</a></p>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="contac-bottom">
			<div class="row justify-content-center">
				
				{% if username1 %}
				
				<center>
					<h2>Thanks {{ username1 }}! </h2>
					<p>We received your email and will response shortly.</p>
				</center>
				<br><br>
				{% else %}
				
				<div class="col-lg-6 col-12">
					<div class="contact-form">
						<form action="{% url 'sanjanaorg_contact' %}" method="POST" class="comment-form" >
							{% csrf_token %}
							<input type="text" name="name1" class="" placeholder="Name*">
							<input type="email" name="email1" class="" placeholder="Email*">
							<input type="text" name="subject1" class="" placeholder="Subject*">
							<textarea name="message1" cols="30" rows="9" placeholder="Message*"></textarea>
							<button type="submit" name="submit-form" class="lab-btn">
								<span>Submit Now</span>
							</button>
						</form>
					</div>
				</div>
				{% endif %}
				<div class="col-lg-6 col-12">
					<div class="location-map">
						<div id="map">
							<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3571.503993927175!2d80.29854887515415!3d26.471712778903726!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x399c39903aeea97f%3A0x40e94a572cf1e6db!2sRaghav%20Consultant!5e0!3m2!1sen!2sin!4v1692785804630!5m2!1sen!2sin" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
						</div>
					</div>
				</div>
			</div>
		</div>
		
	</div>
</div>
<!-- Contact Us Sanjaana Organics End Here -->

<!-- Contact Us  Sanjana Aggrovate Start Here -->
<div class="contact-section padding-tb">
	<div class="container">
		<div class="contac-top">
			<div class="section-header">
				<h2> Sanjana Aggrovate</h2>
			</div>
			<div class="row justify-content-center">
				<div class="col-xl-4 col-lg-6 col-12">
					<div class="contact-item">
						<div class="contact-icon">
							<i class="icofont-google-map"></i>
						</div>
						<div class="contact-details">
							<span>806, Shantivan Appartment,
							</span>
						<span class="d-block text-bold">2A/244A Azad Nagar , Kanpur 208002</span>
						</div>
					</div>
				</div>
				<div class="col-xl-4 col-lg-6 col-12">
					<div class="contact-item">
						<div class="contact-icon">
							<i class="icofont-phone"></i>
						</div>
						<div class="contact-details">
							<a href="tel:+91-7991398029">+91-7991398029</a>
						</div>
					</div>
				</div>
				<div class="col-xl-4 col-lg-6 col-12">
					<div class="contact-item">
						<div class="contact-icon">
							<i class="icofont-envelope"></i>
						</div>
						<div class="contact-details">
							<p><a href="mailto:info@sanjanaagrovate.com">info@sanjanaagrovate.com</a></p>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="contac-bottom">
			<div class="row justify-content-center">
				<div class="col-lg-6 col-12">
					<div class="location-map">
						<div id="map">
							
							<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3570.553072196978!2d80.29997689678956!3d26.502331300000005!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x399c3848b2b66ae7%3A0xf4562d3da5f20e3!2sShantivan%20Apartments!5e0!3m2!1sen!2sin!4v1693377542094!5m2!1sen!2sin" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
						</div>
					</div>
				</div>
				{% if username2 %}
				
				<center>
					<h2>Thanks {{ username2 }}! </h2>
					<p>We received your email and will response shortly.</p>
				</center>
				<br><br>
				{% else %}
				
				<div class="col-lg-6 col-12">
					<div class="contact-form">
						<form action="{% url 'sanjanaagro_contact' %}" method="POST" class="comment-form" >
							{% csrf_token %}
							<input type="text" name="name2" class="" placeholder="Name*">
							<input type="email" name="email2" class="" placeholder="Email*">
							<input type="text" name="subject2" class="" placeholder="Subject*">
							<textarea name="message2" cols="30" rows="9" placeholder="Message*"></textarea>
							<button type="submit" name="submit-form" class="lab-btn">
								<span>Submit Now</span>
							</button>
						</form>
					</div>
				</div>
				{% endif %}
			</div>
		</div>
		
	</div>
</div>
<!-- Contact Us Sanjana Aggrovate End Here -->
<!-- Contact Us Section ENding Here -->
{% endblock %}