{% extends 'base.html' %}
{% load static %}
{% block content %} 

		<!-- Page Header Section Start Here -->
		<section class="page-header bg_img padding-tb">
			<div class="overlay"></div>
			<div class="container">
				<div class="page-header-content-area">
					<h4 class="ph-title">Poultry Farm Gallery</h4>
					<ul class="lab-ul">
						<li><a href="index.html">Home</a></li>
						<li><a class="active">Gallery 2</a></li>
					</ul>
				</div>
			</div>
		</section>
		<!-- Page Header Section Ending Here -->


		<!-- Gallery-2  start Here -->
		<div class="gallery-2 padding-tb">
			<div class="container">
				<div class="row mb-15">
					<div class="col-12">
						<div class="gallery-grid-item">
							{% for n in galleryData  %}
							<div class="grid-items">
								<a href="{{n.image}}" data-rel="lightcase:myCollection:slideshow">
									<img src="{{n.image}}" alt="gallery-img">
								</a>
							</div>
							{% endfor  %}


							<!-- <div class="grid-items">
								<a href="{% static 'assets/images/gallery/mason/02.jpg' %}" data-rel="lightcase:myCollection:slideshow">
									<img src="{% static 'assets/images/gallery/mason/02.jpg' %}" alt="gallery-img">
								</a>
							</div>
							<div class="grid-items">
								<a href="{% static 'assets/images/gallery/mason/03.jpg' %}" data-rel="lightcase:myCollection:slideshow">
									<img src="{% static 'assets/images/gallery/mason/03.jpg' %}" alt="gallery-img">
								</a>
							</div>
							<div class="grid-items">
								<a href="{% static 'assets/images/gallery/mason/04.jpg' %}" data-rel="lightcase:myCollection:slideshow">
									<img src="{% static 'assets/images/gallery/mason/04.jpg' %}" alt="gallery-img">
								</a>
							</div>
							<div class="grid-items">
								<a href="{% static 'assets/images/gallery/mason/05.jpg' %}" data-rel="lightcase:myCollection:slideshow">
									<img src="{% static 'assets/images/gallery/mason/05.jpg' %}" alt="gallery-img">
								</a>

							</div>
							<div class="grid-items">
								<a href="{% static 'assets/images/gallery/mason/06.jpg' %}" data-rel="lightcase:myCollection:slideshow">
									<img src="{% static 'assets/images/gallery/mason/06.jpg' %}" alt="gallery-img">
								</a>
							</div>
							<div class="grid-items">
								<a href="{% static 'assets/images/gallery/mason/07.jpg' %}" data-rel="lightcase:myCollection:slideshow">
									<img src="{% static 'assets/images/gallery/mason/07.jpg' %}" alt="gallery-img">
								</a>
							</div>
							<div class="grid-items">
								<a href="{% static 'assets/images/gallery/mason/08.jpg' %}" data-rel="lightcase:myCollection:slideshow">
									<img src="{% static 'assets/images/gallery/mason/08.jpg' %}" alt="gallery-img">
								</a>
							</div>
							<div class="grid-items">
								<a href="{% static 'assets/images/gallery/mason/09.jpg' %}" data-rel="lightcase:myCollection:slideshow">
									<img src="{% static 'assets/images/gallery/mason/09.jpg' %}" alt="gallery-img">
								</a>
							</div>
							<div class="grid-items">
								<a href="{% static 'assets/images/gallery/mason/10.jpg' %}" data-rel="lightcase:myCollection:slideshow">
									<img src="{% static 'assets/images/gallery/mason/10.jpg' %}" alt="gallery-img">
								</a>
							</div>
							<div class="grid-items">
								<a href="{% static 'assets/images/gallery/mason/11.jpg' %}" data-rel="lightcase:myCollection:slideshow">
									<img src="{% static 'assets/images/gallery/mason/11.jpg' %}" alt="gallery-img">
								</a>
							</div>
							<div class="grid-items">
								<a href="{% static 'assets/images/gallery/mason/12.jpg' %}" data-rel="lightcase:myCollection:slideshow">
									<img src="{% static 'assets/images/gallery/mason/12.jpg' %}" alt="gallery-img">
								</a>
							</div> -->
						</div>
					</div>
				</div>
			</div>
		</div>
		<!-- Gallery-2  ending Here -->

		{% endblock %}