{% extends 'base.html' %}
{% load static %}
{% block content %}


<!-- Page Header Section Start Here -->
<section class="page-header bg_img padding-tb">
    <div class="overlay"></div>
    <div class="container">
        <div class="page-header-content-area">
            <h4 class="ph-title">Products</h4>
            <ul class="lab-ul">
                <li><a href="/">Home</a></li>
                <li><a class="active">Products</a></li>
            </ul>
        </div>
    </div>
</section>
<!-- Page Header Section Ending Here -->

<!-- shop page Section Start Here -->
<div class="shop-page padding-tb">
    <div class="container">
        <div class="section-wrapper">
            <div class="row justify-content-center">
                <div class="col-lg-12 col-12">
                    <div class="history-right">
                        <p class="mb-2">Introducing our exceptional range of white eggs, meticulously produced and
                            delivered straight from our group of farms. We take immense pride in providing you with a
                            premium product that embodies our dedication to quality, health, and sustainability.
                        </p>
                        <!-- <p class="mb-2">Freshness Guarantee: When you choose our eggs, you're choosing unparalleled
                            freshness. Our eggs have a remarkably short journey from our farms to your table, preserving
                            their peak quality. This quick turnaround time ensures that you receive eggs with optimal
                            taste and nutritional content.
                        </p>
                        <p class="mb-2">Local Delight: Embrace the flavor of your region with our locally sourced white
                            eggs. By buying directly from our farms, you're not only supporting local agriculture but
                            also enjoying eggs that reflect the unique essence of your area.
                        </p>
                        <p class="mb-2">Direct Connection: When you choose our eggs, you're connecting with the heart of
                            our farms. Experience the transparency of knowing where your food comes from and the
                            dedication that goes into its production. Our eggs are more than just a product – they're a
                            symbol of our passion for quality farming.
                        </p>

                        <p class="mb-2">Versatility: From breakfast classics to gourmet creations, our white eggs
                            elevate every dish. Their superior taste and texture make them the perfect ingredient for
                            both everyday meals and special occasions.
                        </p> -->

                        <p class="mb-2">Join us in savoring the difference of farm-fresh white eggs. As a part of our
                            extended family, you're embracing quality, authenticity and sustainability with each bite.
                        </p>
                        <p class="mb-3">Welcome to a world where every egg is a testament to our unwavering commitment
                            to excellence. </p>

                    </div>
                </div>
                <div class="col-lg-9 col-12">
                    <article>
                        <!-- <div class="shop-title d-flex flex-wrap justify-content-between bg-ash">
                            <p>Showing Results</p>
                            <div class="product-view-mode">
                                <a class="active" data-target="grids"><i class="icofont-ghost"></i></a>
                                 <a data-target="lists"><i class="icofont-listing-box"></i></a>
                            </div>
                        </div> -->

                        <div class="shop-product-wrap grids row justify-content-center padding-top">
                            {% for n in productsData  %}
                            <div class="col-lg-4 col-md-6 col-12">
                                <div class="product-item">
                                    <div class="">
                                        <img src="{{n.image}}" alt="shope">
                                        <!-- <div class="product-action-link">
                                            <a href="{{n.image}}"
                                                data-rel="lightcase">
                                                <i class="far fa-heart"></i></a>
                                            <a href="#"><i class="fas fa-sync-alt"></i></a>
                                            <a href="#"><i class="icofont-cart-alt"></i></a>
                                        </div> -->
                                    </div>
                                    <div class="product-content">
                                        <h6><a href="#">{{n.product_name}}</a></h6>
                                        <!-- <div class="rating mb-1">
                                            <span><a href="#"><i class="far fa-star"></i></a></span>
                                            <span><a href="#"><i class="far fa-star"></i></a></span>
                                            <span><a href="#"><i class="far fa-star"></i></a></span>
                                            <span><a href="#"><i class="far fa-star"></i></a></span>
                                            <span><a href="#"><i class="far fa-star"></i></a></span>
                                        </div> -->
                                        <!-- <h6>{{n.price}}</h6> -->
                                        <!-- <a href="#" class="lab-btn d-inline-b">Add to cart</a> -->
                                    </div>
                                    
                                </div>
                              
                              
                                <div class="product-list-item">
                                    <div class="product-thumb">
                                        <img src="{% static 'assets/images/product/01.jpg' %}" alt="shope">
                                        <div class="product-action-link">
                                            <a href="{% static 'assets/images/product/01.jpg' %}"
                                                data-rel="lightcase"><i class="icofont-eye"></i></a>
                                            <a href="#"><i class="icofont-heart-alt"></i></a>
                                            <a href="#"><i class="icofont-cart-alt"></i></a>
                                        </div>
                                    </div>
                                    <div class="product-content">
                                        <h6><a href="#">{{n.product_name}}</a></h6>
                                        <!-- <div class="rating mb-1">
                                            <span><a href="#"><i class="far fa-star"></i></a></span>
                                            <span><a href="#"><i class="far fa-star"></i></a></span>
                                            <span><a href="#"><i class="far fa-star"></i></a></span>
                                            <span><a href="#"><i class="far fa-star"></i></a></span>
                                            <span><a href="#"><i class="far fa-star"></i></a></span>
                                        </div> -->
                                        <!-- <h6>
                                            {{n.price}}
                                        </h6> -->
                                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                                            tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim
                                            veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea
                                            commodo</p>
                                    </div>
                                </div>
                            </div>
                            {% endfor %}
                            <!-- <div class="col-lg-4 col-md-6 col-12">
                                <div class="product-item">
                                    <div class="product-thumb">
                                        <img src="{% static 'assets/images/product/02.jpg' %}" alt="shope">
                                        <div class="product-action-link">
                                            <a href="{% static 'assets/images/product/02.jpg' %}"
                                                data-rel="lightcase"><i class="icofont-eye"></i></a>
                                            <a href="#"><i class="icofont-heart-alt"></i></a>
                                            <a href="#"><i class="icofont-cart-alt"></i></a>
                                        </div>
                                    </div>
                                    <div class="product-content">
                                        <h6><a href="#">Product Text Here</a></h6>
                                        <div class="rating mb-1">
                                            <span><a href="#"><i class="far fa-star"></i></a></span>
                                            <span><a href="#"><i class="far fa-star"></i></a></span>
                                            <span><a href="#"><i class="far fa-star"></i></a></span>
                                            <span><a href="#"><i class="far fa-star"></i></a></span>
                                            <span><a href="#"><i class="far fa-star"></i></a></span>
                                        </div>
                                        <h6>$200</h6>
                                    </div>
                                </div>
                                
                            </div> -->
                        </div>

                        <!-- <div class="paginations">
                            <ul class="lab-ul d-flex flex-wrap justify-content-center">
                                <li>
                                    <a href="#"><i class="icofont-rounded-double-left"></i></a>
                                </li>
                                <li class="d-none d-sm-block">
                                    <a href="#">1</a>
                                </li>
                                <li class="d-none d-sm-block">
                                    <a href="#">2</a>
                                </li>
                                
                                <li class="d-none d-sm-block">
                                    <a href="#"><i class="icofont-rounded-double-right"></i></a>
                                </li>
                            </ul>
                        </div> -->
                    </article>
                </div>
                <div class="col-lg-3 col-md-7 col-12">
                    <aside>
                        <!-- <div class="widget widget-search bg-ash px-3">
                            <div class="widget-header">
                                <h5>Search keywords</h5>
                            </div>
                            <form action="https://labartisan.net/" class="search-wrapper">
                                <input type="text" name="s" placeholder="Your Search...">
                                <button type="submit"><i class="icofont-search-2"></i></button>
                            </form>
                        </div> -->

                        <!-- <div class="widget widget-category bg-ash px-3">
                            <div class="widget-header">
                                <h5>All Categories</h5>
                            </div>
                            <div class="widget-wrapper">
                                <ul class="lab-ul shop-menu">
                                    <li>
                                        <a href="#0">Apple</a>
                                        <ul class="lab-ul shop-submenu">
                                            <li><a href="#">Apple 1</a></li>
                                            <li><a href="#">Apple 2</a></li>
                                            <li><a href="#">Apple 3</a></li>
                                        </ul>
                                    </li>
                                    
                                </ul>
                            </div>
                        </div> -->

                        <div class="widget widget-post bg-ash px-3">
                            <div class="widget-header">
                                <h5>Latests Products</h5>
                            </div>
                            <ul class="lab-ul widget-wrapper">

                                {% for n in productsData %}
                                <li class="d-flex flex-wrap justify-content-between">
                                    <div class="post-thumb">
                                        <a href="blog-single.html"><img
                                                src="{{n.image}}" alt="product"></a>
                                    </div>
                                    <div class="post-content">
                                        <a href="blog-single.html">
                                            <h6>{{n.product_name}}</h6>
                                        </a>
                                        <!-- <div class="rating">
                                            <span><a href="#"><i class="far fa-star"></i></a></span>
                                            <span><a href="#"><i class="far fa-star"></i></a></span>
                                            <span><a href="#"><i class="far fa-star"></i></a></span>
                                            <span><a href="#"><i class="far fa-star"></i></a></span>
                                            <span><a href="#"><i class="far fa-star"></i></a></span>
                                        </div> -->
                                        <!-- <h6>{{n.price}}</h6> -->
                                    </div>
                                </li>
                                {% endfor  %}
                                
                            </ul>
                        </div>
                    </aside>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- shop page Section ENding Here -->

{% endblock %}