{% extends 'base3.html' %}
{% load static %}
{% block content %}


<!DOCTYPE html>
<html lang="en">
	
<!-- Banner Section Start Here -->
<section class="banner">
	<div class="banner-slider">
		<div class="swiper-wrapper">
			<div class="swiper-slide">
				<div class="banner-slider-part"
					style="background-image: url('/static/assets/images/banner/bg-images/01.jpg');">
					<div class="overlay"></div>
					<div class="container">
						<div class="row flex-row-reverse justify-content-center align-items-center">
							<div class="col-12">
								<div class="banner-content">
									<h1 class="banner-title"><B class="d-lg-block">Fresh Killed Poultry 2</B>
										Chickens Specialty Game Meats
										Eggs And More!!! </h1>
									<a href="#" class="lab-btn"><span>DISCOVER NOW</span></a>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="swiper-slide">
				<div class="banner-slider-part"
					style="background-image: url('/static/assets/images/banner/bg-images/02.jpg');">
					<div class="overlay"></div>
					<div class="container">
						<div class="row flex-row-reverse justify-content-center align-items-center">
							<div class="col-12">
								<div class="banner-content">
									<h1 class="banner-title"><B class="d-lg-block">Fresh Killed Poultry </B>
										Chickens Specialty Game Meats
										Eggs And More!!! </h1>
									<a href="#" class="lab-btn"><span>DISCOVER NOW</span></a>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="swiper-slide">
				<div class="banner-slider-part"
					style="background-image: url('/static/assets/images/banner/bg-images/01.jpg');">
					<div class="overlay"></div>
					<div class="container">
						<div class="row flex-row-reverse justify-content-center align-items-center">
							<div class="col-12">
								<div class="banner-content">
									<h1 class="banner-title"><B class="d-lg-block">Fresh Killed Poultry </B>
										Chickens Specialty Game Meats
										Eggs And More!!! </h1>
									<a href="#" class="lab-btn"><span>DISCOVER NOW</span></a>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="swiper-pagination"></div>
	</div>
</section>
<!-- Banner Section Ending Here -->

<!-- about section start here -->
<section class="about-section relative padding-tb bg-ash">
	<div class="container">
		<div class="row mb-15">
			
			<div class="col-xl-5 col-12">
				<div class="about-wrapper p-0">
					<div class="about-title">
						<h2><span class="d-lg-block">Welcome to Our Murgi</span><span class="d-lg-block"> And Egg Farm.</span></h2>
					</div>
					<div class="about-content">
						<p>Continually productize compelling quality for packed with  Elated  productize compelling quality for packed with all Elated Them Setting up to website and creating pages. </p>
						<ul class="lab-ul list-group mb-3">
							<li class="list-group-item py-1 px-0 border-none"><i class="icofont-tick-boxed mr-2 color-theme"></i>We are providing different services</li>
							<li class="list-group-item py-1 px-0 border-none"><i class="icofont-tick-boxed mr-2 color-theme"></i>We are one of leading company </li>
							<li class="list-group-item py-1 px-0 border-none"><i class="icofont-tick-boxed mr-2 color-theme"></i>Profitability is the primary goal of all business</li>
							<li class="list-group-item py-1 px-0 border-none"><i class="icofont-tick-boxed mr-2 color-theme"></i>Learn how to grow your Business </li>
							<li class="list-group-item py-1 px-0 border-none"><i class="icofont-tick-boxed mr-2 color-theme"></i>Professional solutions for your business</li>
						</ul>
						<a href="#" class="lab-btn mt-2"><span>Read More</span></a>
					</div>
				</div>
			</div>
			<div class="col-xl-7 col-12">
				<div class="about-left-part">
					<div class="about-item">
						<div class="about-inner">
							<div class="about-thumb">
								<img src="{% static 'assets/images/about/05.jpg' %}" alt="about">
							</div>
							<div class="about-content">
								<div class="ac-thumb">
									<img src="{% static 'assets/images/about/icon/01.png' %}" alt="about Image">
								</div>
								<div class="ac-content">
									<h6>Daily 700+ Collect</h6>
									<p>Continually Aggregate web interfaces</p>
								</div>
							</div>
						</div>
					</div>
					<div class="about-item">
						<div class="about-inner">
							<div class="about-thumb">
								<img src="{% static 'assets/images/about/06.jpg' %}" alt="about">
							</div>
							<div class="about-content">
								<div class="ac-thumb">
									<img src="{% static 'assets/images/about/icon/02.png' %}" alt="about Image">
								</div>
								<div class="ac-content">
									<h6>500+ Chicken</h6>
									<p>Continually Aggregate web interfaces</p>
								</div>
							</div>
						</div>
					</div>
					<div class="about-item">
						<div class="about-inner">
							<div class="about-thumb">
								<img src="{% static 'assets/images/about/07.jpg' %}" alt="about">
							</div>
							<div class="about-content">
								<div class="ac-thumb">
									<img src="{% static 'assets/images/about/icon/03.png' %}" alt="about Image">
								</div>
								<div class="ac-content">
									<h6>Daily 100kg+ Meet</h6>
									<p>Continually Aggregate web interfaces</p>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
<!-- about section ending here -->

<!-- Feature section start here -->
<section class="feature-section padding-tb">
	<div class="container">
		<div class="row text-center justify-content-center">
			{% for n in featureData  %}
			<div class="col-lg-3 col-sm-6 col-12">
				<div class="lab-item">
					<div class="lab-inner">
						<div class="lab-thumb">
							<img src="{{n.feature_icon.url}}" alt="Feature Image">
						</div>
						<div class="lab-content">
							<h6>{{n.feature_title}}</h6>
							<p>{{n.feature_des}} </p>
						</div>
					</div>
				</div>
			</div>
			{% endfor %}
		</div>
	</div>
</section>
<!-- Feature section ending here -->

<!-- product category section start here -->
<section class="product-section relative padding-tb bg-ash">
	<div class="container">
		<div class="row justify-content-center">
			<div class="col-12">
				<div class="section-header">
					<h3>Poultry Farm Products</h3>
					<p>Conveniently customize proactive web services for leveraged
						interfaces without Globally </p>
				</div>
			</div>
			<div class="col-12">
				<div class="section-wrapper">
					<div class="row justify-content-center mb-15-none">
						
						{% for n in productsData  %}
						<div class="col-xl-3 col-lg-4 col-sm-6 col-12">
							<div class="product-item-2">
								<div class="product-inner">
									<div class="product-thumb">
										<img src="{{n.Product_image.url}}" alt="product">
									</div>
									<div class="product-content">
										<a href="#"><h6>{{n.product_name}}</h6></a>
										<div class="rating">
											<i class="far fa-star"></i>
											<i class="far fa-star"></i>
											<i class="far fa-star"></i>
											<i class="far fa-star"></i>
											<i class="far fa-star"></i>
										</div>
										<h6 class="price">{{n.price}}</h6>
										<div class="cart-option">
											<a href="#" class="lab-btn"><span>Add To Cart</span></a>
										</div>
									</div>
								</div>
							</div>
						</div>
						{% endfor  %}
						
					</div>
				</div>
			</div>
		</div>
		<div class="text-center mt-3 mb-2">
			<a href="#" class="lab-btn"><span>Shop Now</span></a>
		</div>
	</div>
</section>
<!-- product category section ending here -->

<!-- Gallery section start here -->
<section class="gallery-section padding-tb">
	<div class="container-fluid p-0 m-0">
		<div class="row">
			<div class="col-12">
				<div class="section-header">
					<h3>Poultry Farm Gallery</h3>
					<p>Conveniently customize proactive web services for leveraged
						interfaces without Globally </p>
				</div>
			</div>
			<div class="col-12">
				<div class="gallery-content">
					<div class="gallery-grid text-center">
						{% for n in galleryData  %}
							<a href="{{n.image}}"
								data-rel="lightcase:myCollection:slideshow" class="grid-image">
								<img src="{{n.image.url}}" alt="gallery-image">
							</a>
						{% endfor  %}
					</div>
					<div class="gallery-btn text-center mt-5">
						<a href="#" class="lab-btn"><span>Load Gallery</span></a>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
<!-- Gallery section ends here -->

<!--Video Section Start here
<div class="video-section padding-tb bg-ash">
	<div class="container">
		<div class="video-section-wrapper mb-15">
			<div class="video-content">
				<img src="{% static 'assets/images/bg-images/video-bg.jpg' %}" alt="Video-background">
				<a href="https://youtu.be/cvOx1uC1-oA" data-rel="lightcase"><img src="assets/images/bg-images/yt-icon.png" alt="Play"></a>
			</div>
		</div>
	</div>
</div>
Video Section Ending here-->

<!--Chicken Life-cycle start here-->
<section class="chicken-life-cycle relative padding-tb bg-ash">
	<div class="container">
		<div class="row align-items-center">
			<div class="col-lg-6 col-12">
				<div class="lab-item">
					<div class="lab-thumb"><img src="{% static 'assets/images/about/02.png' %}" alt="chicken-life-cycle"></div>
				</div>
			</div>
			<div class="col-lg-6 col-12">
				<div class="lab-item">
					<div class="lab-content">
						<h3>Chicken Life-cycle</h3>
						<p>Continually productize compelling quality for packed with  Elated Themes Setting up to website and it crating pages.
						</p>
						<div class="row mt-5">
							<div class="col-12">
								<div class="life-cycle-item d-flex flex-wrap">
									<div class="lci-left">
										01
									</div>
									<div class="lci-right">
										<h6>Adult</h6>
										<p>Continually aggregate frictionle interc without globally wellies richard.</p>
									</div>
								</div>
							</div>
							<div class="col-12">
								<div class="life-cycle-item d-flex flex-wrap">
									<div class="lci-left">
										02
									</div>
									<div class="lci-right">
										<h6>Egg</h6>
										<p>Continually aggregate frictionle interc without globally wellies richard.</p>
									</div>
								</div>
							</div>
							<div class="col-12">
								<div class="life-cycle-item d-flex flex-wrap">
									<div class="lci-left">
										03
									</div>
									<div class="lci-right">
										<h6>Embryo</h6>
										<p>Continually aggregate frictionle interc without globally wellies richard.</p>
									</div>
								</div>
							</div>
							<div class="col-12">
								<div class="life-cycle-item d-flex flex-wrap">
									<div class="lci-left">
										04
									</div>
									<div class="lci-right">
										<h6>Chick</h6>
										<p>Continually aggregate frictionle interc without globally wellies richard.</p>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
<!--Chicken Life-cycle Ending here-->

<!-- blog section start here 
<section class="blog-section relative padding-tb bg-ash">
	<div class="container">
		<div class="row">
			<div class="col-12">
				<div class="section-header">
					<h3>Our Recent News</h3>
					<p>Conveniently customize proactive web services for leveraged
						interfaces without Globally</p>
				</div>
			</div>
			<div class="col-12">
				<div class="section-wrapper">
					<div class="row justify-content-center">
						<div class="col-lg-4 col-sm-6 col-12">
							<div class="card border-none">
								<img src="{% static 'assets/images/blog/01.jpg' %}" class="card-img-top" alt="blog">
								<div class="card-body p-1 mt-3">
									<a href="#">
										<h6 class="card-title">Chicken ducklings to help solve Obesity...</h6>
									</a>
									<p class="card-text mb-3">Conveniently customize proactive web services without Globally. oe-enablfunctaizede-come rce Onceptualize Technically initiatives.</p>
									<div class="text-btn">
										<a href="blog-single.html"><span>Read More</span></a>
									</div>
								</div>
							</div>
						</div>
						<div class="col-lg-4 col-sm-6 col-12">
							<div class="card border-none">
								<img src="{% static 'assets/images/blog/02.jpg' %}" class="card-img-top" alt="blog">
								<div class="card-body p-1 mt-3">
									<a href="#">
										<h6 class="card-title">Will eggs be a news source of cancer drugs...</h6>
									</a>
									<p class="card-text mb-3">Conveniently customize proactive web services without Globally. oe-enablfunctaizede-come rce Onceptualize Technically initiatives.</p>
									<div class="text-btn">
										<a href="blog-single.html"><span>Read More</span></a>
									</div>
								</div>
							</div>
						</div>
						<div class="col-lg-4 col-sm-6 col-12">
							<div class="card border-none">
								<img src="{% static 'assets/images/blog/03.jpg' %}" class="card-img-top" alt="blog">
								<div class="card-body p-1 mt-3">
									<a href="#">
										<h6 class="card-title">Omega-3 chicken,egg may lower heart attack ...</h6>
									</a>
									<p class="card-text mb-3">Conveniently customize proactive web services without Globally. oe-enablfunctaizede-come rce Onceptualize Technically initiatives.</p>
									<div class="text-btn">
										<a href="blog-single.html">Read More<span></span></a>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
 blog section ending here -->

 <!--History section start here -->
<section class="history-section padding-tb">
	<div class="container">
		<div class="history-header section-header text-left">
			<h2>History</h2>
			<h2>11 Years Farm Traditions</h2>
		</div>
		<div class="history-content">
			<div class="row mb-15">
				<div class="col-xl-8 col-12">
					<div class="history-items">
						<div class="swiper-wrapper">
							<div class="swiper-slide">
								<div class="lab-item">
									<div class="lab-inner">
										<div class="lab-thumb">
											<img src="{% static 'assets/images/about/history/01.jpg' %}"
												alt="history-img">
										</div>
										<div class="lab-content">
											<div class="history-left">
												<h2 class="mb-0">Since</h2>
												<h2 class="mb-lg-0"><span>2012</span></h2>
											</div>
											<div class="history-right">
												<p class="mb-0">Raghav Group of Farms is a pioneering company that
													specializes in the fascinating process of egg hatching. With a
													commitment to delivering the finest quality white eggs directly to
													your doorstep, we have revolutionized the way we access farm-fresh
													products. What sets us apart is their ability to transport these
													delicate eggs over long distances, spanning up to 1000 kilometers,
													ensuring that customers far and wide can enjoy their exceptional
													produce.
												</p>
												<p class="mb-0">At our state-of-the-art facilities, Raghav Group of
													Farms ensures a meticulous and controlled environment for egg
													hatching. Our team of experienced professionals follows strict
													protocols to ensure the best possible conditions for the eggs to
													develop and hatch. From carefully monitoring temperature and
													humidity levels to implementing advanced hatching techniques.
												</p>
											</div>
										</div>
									</div>
								</div>
							</div>
							<div class="swiper-slide">
								<div class="lab-item">
									<div class="lab-inner">
										<div class="lab-thumb">
											<img src="{% static 'assets/images/about/history/01.jpg' %}"
												alt="history-img">
										</div>
										<div class="lab-content">
											<div class="history-left">
												<h2 class="mb-0">Since</h2>
												<h2 class="mb-lg-0"><span>2012</span></h2>
											</div>
											<div class="history-right">
												<p class="mb-0">With a focus on customer convenience, we have streamlined our ordering and delivery process. Customers can easily place their orders online or over the phone and we will ensure prompt and reliable delivery right to their doorstep. This seamless experience allows customers to enjoy the benefits of farm-fresh eggs without any hassle.
												</p>
												<p class="mb-0">In conclusion, we have redefined the egg industry with our commitment to quality, innovation and customer satisfaction. By specializing in egg hatching, we have mastered the delicate art of producing white eggs of the highest caliber.
												</p>
												<p class="mb-0">With our ability to transport eggs over long distances, we have made farm-fresh eggs accessible to customers even hundreds of kilometers away. We are happy to be providing a delightful culinary experience for egg lovers across the country.
												</p>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="col-xl-4 col-12">
					<div class="achievement text-center mt-lg-0">
						<div class="achievement-title">
							<h3>Our Achievement</h3>
						</div>
						<div class="achievement-content">
							<div class="row justify-content-center">

								<!-- {% for n in achievementData %}
										<div class="col-xl-6 col-lg-3 col-md-3 col-6">
											<div class="lab-item">
												<div class="lab-inner text-center">
													<div class="lab-thumb mb-3">
														<img src="{{n.achievement_icon}}"
															alt="">
													</div>
													<div class="lab-content">
														<h3><span class="counter">{{n.achievement_des}}</span></h3>
														<h5>{{n.achievement_title}}</h5>
													</div>
												</div>
											</div>
										</div>
										{% endfor %} -->

								<div class="col-xl-6 col-lg-3 col-md-3 col-6">
									<div class="lab-item">
										<div class="lab-inner text-center">
											<div class="lab-thumb mb-3">
												<img src="{% static 'assets/images/about/history/achievement/01.png' %}"
													alt="Customer">
											</div>
											<div class="lab-content">
												<h3><span class="counter">6,200</span></h3>
												<h5>Customers</h5>
											</div>
										</div>
									</div>
								</div>
								<div class="col-xl-6 col-lg-3 col-md-3 col-6">
									<div class="lab-item">
										<div class="lab-inner text-center">
											<div class="lab-thumb mb-3">
												<img src="{% static 'assets/images/about/history/achievement/02.png' %}"
													alt="Customer">
											</div>
											<div class="lab-content">
												<h3><span class="counter">400</span>+</h3>
												<h5>Award Won</h5>
											</div>
										</div>
									</div>
								</div>
								<div class="col-xl-6 col-lg-3 col-md-3 col-6">
									<div class="lab-item">
										<div class="lab-inner text-center">
											<div class="lab-thumb mb-3">
												<img src="{% static 'assets/images/about/history/achievement/03.png' %}"
													alt="Customer">
											</div>
											<div class="lab-content">
												<h3><span class="counter">50</span>+</h3>
												<h5>Volunteer</h5>
											</div>
										</div>
									</div>
								</div>
								<div class="col-xl-6 col-lg-3 col-md-3 col-6">
									<div class="lab-item">
										<div class="lab-inner text-center">
											<div class="lab-thumb mb-3">
												<img src="{% static 'assets/images/about/history/achievement/04.png' %}"
													alt="Customer">
											</div>
											<div class="lab-content">
												<h3><span class="counter">40</span>k+</h3>
												<h5>Poultry</h5>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
						<div class="history-navigation mt-3">
							<div class="history-button-prev">
								<i class="fas fa-arrow-left"></i>
							</div>
							<div class="history-button-next">
								<i class="fas fa-arrow-right"></i>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
<!--History section end here -->

<!-- sponsor section start here -->
<div class="sponsor-section padding-tb">
	<div class="container">
		<div class="section-wrapper">
			<div class="sponsor-slider">
				<div class="swiper-wrapper">
					<div class="swiper-slide">
						<div class="sponsor-item">
							<div class="sponsor-thumb">
								<a href="#"><img src="{% static 'assets/images/sponsor/01.png' %}" alt="sponsor"></a>
							</div>
						</div>
					</div>
					<div class="swiper-slide">
						<div class="sponsor-item">
							<div class="sponsor-thumb">
								<a href="#"><img src="{% static 'assets/images/sponsor/02.png' %}" alt="sponsor"></a>
							</div>
						</div>
					</div>
					<div class="swiper-slide">
						<div class="sponsor-item">
							<div class="sponsor-thumb">
								<a href="#"><img src="{% static 'assets/images/sponsor/03.png' %}" alt="sponsor"></a>
							</div>
						</div>
					</div>
					<div class="swiper-slide">
						<div class="sponsor-item">
							<div class="sponsor-thumb">
								<a href="#"><img src="{% static 'assets/images/sponsor/04.png' %}" alt="sponsor"></a>
							</div>
						</div>
					</div>
					<div class="swiper-slide">
						<div class="sponsor-item">
							<div class="sponsor-thumb">
								<a href="#"><img src="{% static 'assets/images/sponsor/05.png' %}" alt="sponsor"></a>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<!-- sponsor section ending here -->

		<!-- sponsor section ending here -->

		</html>

        {% endblock %}